{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}
    {% if app.request.attributes.get('_route') == 'films.index' %}
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <h6>Filtre</h6>
                {{ form_start(form) }}
                {{ form_row(form.genres) }}
                {{ form_row(form.acteurs) }}
                {{ form_row(form.realisateurs) }}
                <button id="test" class="btn btn-primary">Submit</button>
                {{ form_end(form) }}
            </div>
            <div class="col-12 col-lg-9">
                <h6>Listes des films</h6>
                <div class="row content">
                    {% for films in allFilms %}
                    <div class="single-blog-post col-2">
                        <div class="post-thumb">
                            <a href="{{  path('films.show', {id: films.id, slug: films.slug  }) }}"><img src="{{ films.urlPochette }}" alt="{{ films.name }}"></a>
                        </div>
                        <div class="text-center margin-top-10">
                            <a href="{{  path('films.show', {id: films.id, slug: films.slug  }) }}" class="post-title">
                                <h6 class="no-margin-bottom">{{ films.name }}</h6>
                            </a>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    {% else %}
<div class="container">
    <div class="row">
            {% for films in getFilms %}
            <div class="single-blog-post col-2">
                <div class="post-thumb">
                    <a href=""{{  path('films.show', {id: films.id, slug: films.name|slugfy  }) }}"><img src="{{ films.url_pochette }}" alt="{{ films.name }}"></a>
                </div>
                <div class="text-center margin-top-10">
                    <a href="{{  path('films.show', {id: films.id, slug: films.name|slugfy  }) }}" class="post-title">
                        <h6 class="no-margin-bottom">{{ films.name }}</h6>
                    </a>
                </div>
            </div>
            {% endfor %}
    </div>
</div>
    {% endif %}
{% endblock %}
