{% extends 'admin/base.html.twig' %}

{% block title %}Acteur index{% endblock %}

{% block body %}
<main class="main">
    <ol class="breadcrumb">
    </ol>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Tous les acteurs</div>
                    <div class="card-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Name</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for acteur in acteurs %}
                                <tr>
                                    <td>{{ acteur.id }}</td>
                                    <td>{{ acteur.name }}</td>
                                    <td>
                                        <span class="badge badge-warning"><a href="{{ path('admin.acteur.edit', {'id': acteur.id}) }}">edit</a></span>
                                        <span class="badge badge-danger"><a href="{{ path('admin.acteur.delete', {'id': acteur.id}) }}">delete</a></span>
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">no records found</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <a class="btn btn-primary float-right" href="{{ path('admin.acteur.new') }}">Create new</a>
                </div>
            </div>
        </div>
    </div>

</main>
{% endblock %}
