<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% include 'menu.html.twig' ignore missing %}
        {% block body %}{% endblock %}

        {% include 'footer.html.twig' ignore missing %}
    </body>
    {% block javascripts %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="{{ asset('build/bootstrap.js') }}" type="text/javascript"></script>
    <script src="{{ asset('build/popper.js') }}" type="text/javascript"></script>
    <script src="{{ asset('build/active.js') }}" type="text/javascript"></script>
    <script src="{{ asset('build/popper.js') }}" type="text/javascript"></script>
</html>
